@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-display: var(--font-chewy), cursive;
  --font-sans: var(--font-fredoka), sans-serif;

  --color-brand-teal: #99F3EF;
  --color-brand-cream: #FFFBEB;
  --color-brand-purple: #2E0F59;
  --color-brand-brown: #5C3010;
  --color-brand-yellow: #FFF500;
  --color-brand-pink: #FF4DB8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom Animations */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 8s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 4s ease-in-out infinite;
}